/* .dropdown {
    font-size: $m-font;
    position: relative;
    display: inline-block;

    & > .__trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $light-1;
        fill: $light-1;
        transition: 
            color $transition, 
            fill $transition;
    }

    &.--active > .__trigger {
        color: $light-3;
        fill: $light-3;
    }

}

.dropdown__content {
    font-size: $m-font;
    position: absolute;
    background: transparentize($lightest, 0.075);
    box-shadow: $dropdown-shadow;
    flex-flow: column nowrap;
    color: $light-1;
    fill: $light-1;
    // min-width: 100%;
    // right: 3px;
    z-index: 6;
    
    & > .__item {
        padding: $s-size $m-size;
        text-decoration: none;
        white-space: nowrap;
        user-select: none;
        vertical-align: middle;
        cursor: pointer;
        display: flex;
        align-items: center;
    
        &:hover {
            // background: lighten($light-2, 3);
            background: $light-3;
        }
        
        &,
        & > a {
            color: $dark-1;
            fill: $dark-1;
        }

        .icon:first-child {
            margin-right: $s-size;
            height: $m-font;
            width: $m-font;
        }
    }
} */
